{% load static %}
<html lang="en">
<head>
    <title>page1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{% block content %}
    <div>
        <img class="masthead-avatar mb-5" src="{% static 'project/theme/assets/img/avataaars.svg' %}" alt="..." />
    </div>
{% endblock %}

<!--    <div class="container-fluid p-5 bg-primary text-white text-center">-->
<!--        <h1>This first page 8-1-2022 at 4:55 PM </h1>-->
<!--    </div>-->
<div>
<!--    <div>-->
<!--    <a href="page2" >page2</a>-->
<!--    <br>-->
<!--    <br>-->
<!--    </div>-->
<!--    <div>-->
<!--    <a href="page3/" >page3</a>-->


<!--    <br>-->
<!--    <br>-->
<!--    </div>-->
<!--    <div>-->
<!--    <a href="learn_python/" >learn_python</a>-->
<!--    </div>-->
<!--    <div>-->
<!--    <a href="https://www.hossamweb.com/" >HOME</a>-->
<!--    </div>-->

</div>

</body>
</html>